.header__link {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    transition: .2s;
    text-decoration: none;
}

.header__link:hover {
    cursor: pointer;
    opacity: .6;
}

@media (max-width: 770px) {
    .header__link {
        margin-right: 27px;
    }
}