.footer__copyright {
    color: #545454;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

@media (max-width: 920px) {
    .footer__copyright {
        margin: 48px 19px 0 19px;
    }
}

@media (max-width: 770px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 17px;
        margin: 48px 19px 0 19px;
    }
}