.auth-page__title {
    max-width: 100%;
    padding: 0;
    margin: 60px 0 50px 0;
    font-weight: 900;
    line-height: 29.05px;
    font-size: 24px;
    padding-top: 33px;
    padding-bottom: 35px;
    color: #fff;
    text-align: center;
}

@media screen and (max-width: 475px) {
    .auth-page__title {
        font-size: 18px;
        padding-bottom: 75px;
        line-height: 22px;
        max-width: 238px;
    }
}