.popup__container {
    max-width: 430px;
    min-height: 180px;
    width: 100%;
    border-radius: 10px;
    position: relative;
    background-color: #FFFFFF;
}

@media (max-width: 530px) {
    .popup__container {
        max-width: 282px;
        min-height: 322px;
    }
}