.auth-page__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    transition: .2s;
}

.auth-page__link:hover {
    opacity: .6;
    cursor: pointer;
}