.profile__about {
    color: #FFFFFF;
    margin: 8px 0 0 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    max-width: 336px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 770px) {
    .profile__about {
        margin: 8px auto 0 auto;
        font-size: 14px;
        line-height: 17px;
    }
}
