.profile__edit-button {
    padding: 0;
    width: 24px;
    height: 24px;
    background-image: url(../../../images/Vector__edit.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    border: 1px solid #FFFFFF;
    background-position: center;
    transition: .2s;
    outline: none;
}

.profile__edit-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media (max-width: 425px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        background-image: url(../../../images/Vector_S_K.svg);
    }
}